.filial {
    display:flex;
    justify-content: center;
    padding: 5% 0;
}

.filial img {
    width: 22vw;
    border-radius: 15px;
}

.filial img:hover {
    transition:0.5s;
    transform: scale(1.1);
}
